@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'Satoshi'; 
  src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2'), url('./assets/fonts/Satoshi-Regular.woff') format('woff'); 
  /* font-weight: normal;  */
  font-weight: 400; 
  font-style: normal;
  }
@font-face { 
  font-family: 'Satoshi'; 
  src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2'), url('./assets/fonts/Satoshi-Medium.woff') format('woff'); 
  /* font-weight: medium;  */
  font-weight: 500; 
  font-style: normal;
  }

  @font-face { 
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'), url('./assets/fonts/Satoshi-Bold.woff') format('woff');
      /* font-weight: bold; */
      font-weight: 700;
    font-style: normal;
    }

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .input-css{
  @apply block w-full h-[52px] px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
  focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-[#812C19]
  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
  invalid:border-pink-500 invalid:text-pink-600
  focus:invalid:border-pink-500 focus:invalid:ring-pink-500
} */
.input-css{
  @apply  w-full h-[52px] px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
  focus:outline-none focus:border-[#812C19] focus:ring-1 focus:ring-[#812C19]
}

